<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Mini Message Board</title>
</head>
<body>
    <header>
        <h1>Message Board</h1>
        <a class="git" href="https://github.com/DYuHLin/mini-message-board"><i class='bx bxl-github'></i></a>  
    </header>
    <main>
        <a href="/">Messages</a>
        <div class="form-container">
            <form method="POST" action="/new">
                <label for="name">Name</label>
                <input type="text" id="name" name="userName" required>
                <label for="message">Message</label>
                <textarea name="message" id="message" cols="30" rows="10" required></textarea>

                <button>Submit Message</button>
            </form>
        </div>

    </main>
</body>
</html>
